@tailwind base;

@tailwind components;

@tailwind utilities;

.markdown {
    @apply text-lg text-dark-shades leading-normal;
    & > * + *,  & li + li, & li > p + p {
        @apply mt-6;
    }
    & strong {
        @apply text-dark-accent font-bold;
    }
    & a {
          @apply text-main-brand font-semibold;
      }
    & strong a {
          @apply font-bold;
      }
    & h1 {
          @apply leading-tight text-2xl font-bold text-dark-accent mb-2 mt-10;
      }
    & h2 {
          @apply leading-tight text-xl font-bold text-dark-accent mb-2 mt-10;
      }
    & h3 {
          @apply leading-tight text-lg font-bold text-dark-accent mt-8 -mb-2;
      }
    & code {
          @apply font-mono text-sm inline bg-dark-shades text-light-shades px-1;
      }
    & pre code {
          @apply block bg-dark-shades text-light-shades p-4 rounded;
      }
    & blockquote {
          @apply border-l-4 border-main-brand pl-4 italic;
      }
    & ul, & ol {
                @apply pl-5;
    @screen sm {
        @apply pl-10;
    }
    }
}